-# frozen_string_literal: true
= simple_form_for(@ac_schedule) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :amount
    = f.input :description
    = f.input :auto_insert
    = f.input :frequency
    = f.input :frequency_period
    = f.input :first_date
    = f.input :type
    = f.association :ac_account
    = f.association :ac_payee
    = f.association :ac_category
    = f.association :ac_sub_category

  .form-actions
    = f.button :submit
