.container-fluid#schedules
  .row
    = @ac_schedule.inspect
  .row
    .col-md-1.col-sm-0
    .col-md-10.col-sm-12
      = simple_form_for(@ac_schedule) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?      
        .form-inputs.table
          .row
            .col-md-4.col-sm-12
              = f.input :ac_account_id, as: :hidden, input_html: {value: 1}
              = f.input :auto_insert, label: "Auto"
            .col-md-4.col-sm-12
              = f.input :first_date, as: :date, html5: true, label: "Start Date"
            .col-md-4.col-sm-12
              = f.input :frequency, label: "Every", placeholder: "Frequency"
              = f.input :frequency_period, label: false, input_html: { list: 'period_list' }, placeholder: "Select Period"
              %datalist{id: 'period_list'}
                %option{value: "Day"}
                %option{value: "Week"}
                %option{value: "Month"}
                %option{value: "Quarter"}
                %option{value: "Year"} 
              
          .row
            .col-md-4.col-sm-12
              = f.input :ui_payee, label: "Pay To", input_html: { list: 'payee_list', autocomplete: "off" }
              %datalist{id: 'payee_list'} 
                - @ac_payees.each do |payee|
                  %option{value: payee.name}  
            .col-md-4.col-sm-12
              = f.input :ui_category, label:"Category", input_html: { list: 'category_list', autocomplete: "off" }  
              %datalist{id: 'category_list'} 
                - @ac_categories.each do |category|
                  %option{value: category.name}  
            .col-md-4.col-sm-12
              = f.input :ui_sub_category, label:"SubCategory", input_html: { list: 'sub_category_list', autocomplete: "off" }  
              %datalist{id: 'sub_category_list'} 
                - @ac_sub_categories.each do |sub_category|
                  %option{value: sub_category.name}  
          .row        
            .col-md-4.col-sm-12
              = f.input :debit, label: "Debit"
            .col-md-4.col-sm-12
              = f.input :credit, label: "Credit" 
            .col-md-4.col-sm-12
              = f.input :description, label: "Memo"
          .row 
            .col-md-4.col-sm-12
            .col-md-4.col-sm-12
            .col-md-4.col-sm-12
              = f.button :submit, "Save", class: "btn btn-primary"
              = link_to "Cancel", ac_transactions_path, class: "btn btn-danger"


:javascript
  $( document ).ready(function() {
    $('select').selectpicker();
    $('.dropdown-toggle').on("click", function(){
      $(this).closest("td").find(".alt-input").toggle();
    });
    $('.dropdown-menu').on("click", function(){
      $(this).closest("td").find(".alt-input").toggle();
    });  

  })

