-# frozen_string_literal: true
= simple_form_for(@section_footnote) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :footnote
    = f.input :a_number
    = f.input :section_id

  .form-actions
    = f.button :submit
