%p#notice= notice

%p
  %b Text:
  = @section_footnote.text
%p
  %b Integer:
  = @section_footnote.integer

= link_to 'Edit', edit_section_footnote_path(@section_footnote)
\|
= link_to 'Back', section_footnotes_path
