-# frozen_string_literal: true

:scss
  tr{ 
    background-color: #ccffcc;
  }

  .alt-input{
    position: relative;
    top: -34px;
    left: 0;
    z-index: 10;
    display: none;    
  }

.container-fluid#transactions
  .row
    .col-md-1
    .col-md-10.card
      = simple_form_for(@ac_transaction) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?      
        .form-inputs
          %table.table
            %tbody
              %tr
                %td
                  = f.input :ac_account_id, as: :hidden, input_html: {value: 1}
                  = f.input :check_number
                %td= f.input :date, as: :date, html5: true
                %td
                  .alt-div
                    = f.association :ac_payee, label: "Pay To"
                  .alt-input  
                    = f.input :ui_payee, label:false
                %td
                %td  
              %tr
                %td
                  = f.association :ac_category, label: "Category"
                %td  
                  = f.association :ac_sub_category, label: "SubCategory"
                %td
                  = f.input :ac_transaction_status_id, as: :hidden, input_html: {value: 2}
                  = f.input :debit, label: "Debit"
                %td= f.input :credit, label: "Credit" 
                %td= f.input :description, label: "Memo"
              %tr
                %td
                %td  
                %td
                %td
                %td
                  = f.button :submit, "Save", class: "btn btn-primary"
                  = link_to "Cancel", :back, class: "btn btn-warning"


:javascript
  $( document ).ready(function() {
    $('#ac_transaction_ac_payee_id').selectpicker();
    $('.dropdown-toggle').on("click", function(){
      alternate = $(this).closest("td").find(".alt-input");
      alternate.toggle();
      alternate.find("input").trigger("focus");
    });
    $('.dropdown-menu').on("click", function(){
      $(this).closest("td").find(".alt-input").toggle();
    });  

  })


-# add to application.scss  @import "bootstrap-select";
-# add to application.js //= require bootstrap-select