.container-fluid#transactions
  .row
    .col-md-1
    .col-md-10.card

      %h1 Transactions

      %table.table.table-striped
        %thead
          %tr
            %th Check 
            %th Date
            %th Payee
            %th Category
            %th Status
            %th Debit
            %th Credit
            %th Balance
            %th Description
            %th 
              = link_to 'Add New', new_ac_transaction_path, class:"btn btn-primary"

        %tbody
          - @ac_transactions.each do |ac_transaction|
            %tr
              %td.right
                = ac_transaction.check_number
              %td.center
                = ac_transaction.date.strftime("%Y.%m.%d")
              %td.left
                = ac_transaction.ac_payee.name
              %td.left
                = "#{ac_transaction.ac_category.name}:#{ac_transaction.ac_sub_category.name}"
              %td.center
                = ac_transaction.ac_transaction_status.name[0,1]
              %td.right
                = number_to_currency(ac_transaction.debit)
              %td.right
                = number_to_currency(ac_transaction.credit)
              %td.right
                = number_to_currency(ac_transaction.balance)
              %td= ac_transaction.description
              %td.center
                =link_to edit_ac_transaction_path(ac_transaction) do
                  %i.fas.fa-pencil-alt

      %br

      
