%body{id:"page-top", data:{spy:"scroll", target:".navbar-fixed-top"}}
  = render 'layouts/public_navigation2'
  #preloader
    #status
      = image_tag("preloader.gif")
  / Header
  #intro{class: "parallax-window", data:{parallax: "scroll", image:{src: image_path('36.jpg')}}}
    .intro-body
      .container
        .row
          .col-md-10.col-md-offset-1
            %h1
              %span.brand-heading
                LiteralLight
            %p.intro-text
              The professional website of Ben McKibben
              %br
              = DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate)
            = link_to "Learn More", "#about", class: "btn btn-primary page-scroll"
               

  / About Section
  #about
    .container
      .section-title.text-center.center
        %h2
          About
        %hr
      .row
        .col-md-4
          = image_tag("switching03.jpg", class: "img-responsive" ) 
        .col-md-4
          .about-text
            %h4
              Who I Am
            %p
              A puzzle solver. I am a Artisan, Craftsman, Shokunin. I take a collection of raw materials and create something that is not only useful, but also aesthetically pleasing. I have an innate sense of pattern recognition.
            %p
              I am an experienced full stack web application developer. Not websites, but thin client applications.
        .col-md-4
          .about-text
            %h4
              This Website
            %p
              Remember those &ldquo;Under Construction&rdquo; pages that were the anathema of ancient web development? This page is always under construction. It is my sandbox and a showcase of my talents and technical expertise.</p>
            %p
              It is an implementation of a template by Templatewire adapted to a Ruby on Rails environment.</p>

  / Services Section 
  #services.text-center
    .container
      .section-title.center
        %h2
          Expertise
        %hr
      .space
      .row
        .col-md-3.col-sm-6
          .service
            %i.fab.fa-html5
            %h3
              HTML
            %p
              I&apos;ve worked with all of its variations.
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-cogs
            %h3
              Javascript
            %p
              jQuery and AngularJS

        .col-md-3.col-sm-6
          .service
            %i.fab.fa-css3-alt
            %h3
              CSS
            %p
              Twitter Bootstrap rules!

        .col-md-3.col-sm-6
          .service
            %i.fas.fa-gem
            %h3
              Ruby On Rails
            %p
              The newest addition to my toolkit.
      .space
      .row
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-code
            %h3
              Coldfusion
            %p
              An efficient language for web application development. My staple for fifteen years.
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-database
            %h3
              Database
            %p
              Oracle, MS-SQLServer, MongoDB, PostgreSQL, MySQL
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-bar-chart
            %h3
              R with R Studio
            %p
              Used in a recent courses for Big Data and Machine Learning.
              %br
              Course Project:
              %br
              =link_to "Presentation", url: "http://rstudio-pubs-static.s3.amazonaws.com/126794_136b8a1f10cf490dbbc02db91d7437c1.html#/", target:"_blank"
                
              %br
              =link_to "Application", url: "https://bmckibben.shinyapps.io/data_products/", target:"_blank"
                
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-medkit
            %h3
              HL7
            %p
              The standard for transfer of clinical and administrative data between software applications used by healthcare providers.

  / Portfolio Section 
  #works
    .container
      .section-title.text-center.center
        %h2
          Portfolio
        %hr
        .clearfix
          %p
            An implementation of the Isotope plugin Click on the photos.
      .categories
        %ul.cat
          %li
            %ol.type
              %li
                =link_to "All", "#", data: {filter:"*"}, class: "active"
              %li    
                =link_to "Steam", "#", data: {filter:".lorem"}, class: "active"
              %li    
                =link_to "Turbine", "#", data: {filter:".consectetur"}, class: "active"
              %li    
                =link_to "Diesel", "#", data: {filter:".dapibus"}, class: "active"
                
      .clearfix
      .row
        #portfolio-items
          .portfolio-item.diesel
            .hover-bg
              =link_to path_to_image('portfolio/15.jpg'), title:"The Union Pacific Railroad&apos;s M-10000, delivered to the railroad on February 12, 1934, at a cost of $230,997, was the first internal combustion engine, lightweight streamlined express passenger train built in the United States.", rel: "prettyPhoto" do
                .hover-text
                  %h4
                    M-1000
                  %p
                    Diesel
                = image_tag("portfolio/15.jpg",  class: "img-responsive", alt: "M-1000") 

          .portfolio-item.steam
            .hover-bg
              =link_to path_to_image('portfolio/02.jpg'), title:"The Pennsylvania Railroad&apos;s T1 class duplex-drive 4-4-4-4 steam locomotives, introduced in 1942, were ambitious, technologically sophisticated, powerful, fast, and distinctively streamlined by Raymond Loewy.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    T1
                  %p
                    Steam
                =image_tag("portfolio/02.jpg",  class: "img-responsive", alt: "T1")

          .portfolio-item.diesel
            .hover-bg
              =link_to path_to_image('portfolio/03.jpg'), title:"The Comet was a diesel-electric streamliner built in 1935 for the New York, New Haven and Hartford Railroad by the Goodyear-Zeppelin Company. Smaller than the other streamliners, it was a three-car, double-ended train.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    Comet
                  %p
                    Diesel Electric
                =image_tag("portfolio/03.jpg",  class: "img-responsive", alt: "Comet")

          .portfolio-item.steam
            .hover-bg
              =link_to path_to_image('portfolio/04.jpg'), title: "In 1937 Union Pacific applied streamlining to the UP 2906 steam locomotive. The Forty-Niner carried the only examples of full shrouding used on a UP steam locomotive, beautifully executed and adorned in the railroad's classic passenger livery.", rel:"prettyPhoto" do
                .hover-text
                  %h4>
                    Forty-Niner
                  %p
                    Steam
                =image_tag("portfolio/04.jpg",  class: "img-responsive", alt: "Forty-Niner")

          .portfolio-item.diesel
            .hover-bg
              =link_to path_to_image('portfolio/12.jpg'), title:"The Champion was a streamlined passenger train operated by the Atlantic Coast Line Railroad and Florida East Coast Railway between New York City and Miami or St. Petersburg, Florida beginning in 1939.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    Champion
                  %p
                    Diesel
                =image_tag("portfolio/12.jpg",  class: "img-responsive", alt: "Champion")

          .portfolio-item.steam
            .hover-bg
              =link_to path_to_image('portfolio/10.jpg'), title:"The Firefly was a streamlined locomotive operated by the St. Louis – San Francisco Railway (the &ldquo;Frisco&rdquo;). It operated from 1939 to 1960 and was the Frisco&aposs first streamliner.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    Firefly
                  %p
                    Steam
                =image_tag("portfolio/10.jpg",  class: "img-responsive", alt: "Firefly")

          .portfolio-item.turbine
            .hover-bg
              =link_to path_to_image('portfolio/11.jpg'), title:"In 1947 the Baldwin Locomotive Works and the Chesapeake and Ohio Railway introduced the Chesapeake and Ohio class M-1 steam turbine locomotive.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    M-1
                  %p
                    Steam Turbine Electric
                = image_tag("portfolio/11.jpg",  class: "img-responsive", alt: "M-1")

          .portfolio-item.steam
            .hover-bg
              =link_to path_to_image('portfolio/14.jpg'), title:"Pennsylvania Railroad Locomotive 3768 was clad in a shroud designed by famed industrial designer Raymond Loewy in February 1936. This was a very concealing, enveloping streamlined casing which hid most of the functionality of the steam locomotive, leading to its nickname of &ldquo;The Torpedo&rdquo; by train crews.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    K4
                  %p
                    Steam
                =image_tag("portfolio/14.jpg",  class: "img-responsive", alt: "K4")

          .portfolio-item.steam
            .hover-bg
              =link_to path_to_image('portfolio/13.jpg'), title:"In 1934, the New York Central System produced their first streamlined locomotive, named after the founder of the railroad, Commodore Vanderbilt. The design was the creation of Carl F. Kantola.", rel:"prettyPhoto" do
                .hover-text
                  %h4
                    Commodore Vanderbilt
                  %p
                    Steam                    
                =image_tag("portfolio/13.jpg",  class: "img-responsive", alt: "Commodore Vanderbilt")



  /Team Section 
  #team.text-center
    .container
      .section-title.center
        %h2
          Meet the team
        %hr
        %p
          Who is responsible for all this?
      .row
        .col-sm-6.col-md-3
          =image_tag("team/01.jpg",  class: "img-thumbnail team-img", alt: "...") 
          .caption
            %h3
              Shokunin
        .col-sm-6.col-md-3
          .thumbnail
            =image_tag("team/02.png",  class: "img-thumbnail team-img", alt: "...")
            .caption
              %h3
                Code Monkey
        .col-sms-6.col-md-3
          .thumbnail
            =image_tag("team/03.jpg",  class: "img-thumbnail team-img", alt: "...")
            .caption
              %h3
                ウルトラマン
        .col-sm-6.col-md-3
          .thumbnail
            =image_tag("team/04.jpg",  class: "img-thumbnail team-img", alt: "...")
            .caption
              %h3
                Role Model
                
  // Testimonials Section 
  #testimonials.text-center
    .container
      .section-title.center.testimonial-well
        %h2
          What people say
      .row
        .col-md-12
          .row.testimonials
            .col-sm-4
              %blockquote.testimonial-well
                %i.fa.fa-quote-left
                %p
                  If we knew what we were doing, it wouldn&apos;t be called research, would it?
                .clients-name
                  %p.bold
                    Albert Einstien
                    %br
                    %em
                      Renowned Physicist
            .col-sm-4
              %blockquote.testimonial-well
                %i.fa.fa-quote-left
                %p
                  We learn something every day, and lots of times it&apos;s that what we learned the day before was wrong.
                .clients-name
                  %p.bold
                    Bill Vaugha
                    %br
                    %em
                      Columnist and Author
            .col-sm-4
              %blockquote.testimonial-well
                %i.fa.fa-quote-left
                %p
                  A man who is afraid to make mistakes is unlikely to make anything.
                .clients-name
                  %p.bold
                    John Cleese
                    %br
                    %em
                      Monty Python                      

  // Contact Section 
  #contact.text-center
    .container
      .section-title.center
        %h2
          Contact us
        %hr
        %p
          Use the form below to send me a message.
      .col-md-8.col-md-offset-2
        .col-md-4
          .contact-item
            %i.fa.fa-map-marker.fa-2x
            %p
              Greenwood, IN 46142
        .col-md-4
          .contact-item
            %i.fa.fa-envelope-o.fa-2x
            %p
              =mail_to("contact@literallight.org")
        .col-md-4
          .contact-item
            %i.fa.fa-phone.fa-2x
            %p
              =link_to("+1 317 409 6295", "tel:3174096295")
        .clearfix
      .col-md-8.col-md-offset-2
        %h3
          Leave us a message
        = simple_form_for :contact, url: home_contact_path, remote: true do |f|
          = f.input :name, required: true
          = f.input :email, required: true
          = f.input :description, as: :text, required: true, label: "Your Message"
          = f.button :submit, 'Submit', class: 'btn btn-primary'        
      .social
        %h3
          Follow me
        %ul
          %li
            =link_to "https://www.facebook.com/ben.mckibben.39" do
              %i.fa.fa-facebook
          %li
            =link_to "https://twitter.com/1Paxxa" do
              %i.fa.fa-twitter
          %li
            =link_to "https://github.com/bmckibben" do
              %i.fa.fa-github
          %li
            =link_to "https://www.linkedin.com/in/ben-mckibben-7781252b" do
              %i.fa.fa-linkedin

  #snackbar
  %footer
    = render 'layouts/public_footer'
