%body{id:"page-top", data:{spy:"scroll", target:".navbar-fixed-top"}}
  = render 'layouts/public_navigation2'
  #preloader
    #status
      = image_tag("preloader.gif")
  / Header
  #intro{class: "parallax-window", data:{parallax: "scroll", image:{src: image_path('36.jpg')}}}
    .intro-body
      .container
        .row
          .col-md-10.col-md-offset-1
            %h1
              %span.brand-heading
                LiteralLight
            %p.intro-text
              The professional website of Ben McKibben
              %br
              = DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate)
            = link_to "Learn More", "#about", class: "btn btn-primary page-scroll"
               

  / About Section
  #about
    .container
      .section-title.text-center.center
        %h2
          About
        %hr
      .row
        .col-md-4
          = image_tag("switching03.jpg", class: "img-responsive" ) 
        .col-md-4
          .about-text
            %h4
              Who I Am
            %p
              A puzzle solver. I am a Artisan, Craftsman, Shokunin. I take a collection of raw materials and create something that is not only useful, but also aesthetically pleasing. I have an innate sense of pattern recognition.
            %p
              I am an experienced full stack web application developer. Not websites, but thin client applications.
        .col-md-4
          .about-text
            %h4
              This Website
            %p
              Remember those &ldquo;Under Construction&rdquo; pages that were the anathema of ancient web development? This page is always under construction. It is my sandbox and a showcase of my talents and technical expertise.</p>
            %p
              It is an implementation of a template by Templatewire adapted to a Ruby on Rails environment.</p>

  / Services Section 
  #services{class: "parallax-window", data:{parallax: "scroll", image:{src: image_path('31.jpg')}}}
    .container
      .section-title.center
        %h2
          Expertise
        %hr
      .space
      .row
        .col-md-3.col-sm-6
          .service
            %i.fab.fa-html5
            %h3
              HTML
            %p
              I&apos;ve worked with all of its variations.
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-cogs
            %h3
              Javascript
            %p
              jQuery and AngularJS

        .col-md-3.col-sm-6
          .service
            %i.fab.fa-css3-alt
            %h3
              CSS
            %p
              Twitter Bootstrap rules!

        .col-md-3.col-sm-6
          .service
            %i.fas.fa-gem
            %h3
              Ruby On Rails
            %p
              The newest addition to my toolkit.
      .space
      .row
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-code
            %h3
              Coldfusion
            %p
              An efficient language for web application development. My staple for fifteen years.
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-database
            %h3
              Database
            %p
              Oracle, MS-SQLServer, MongoDB, PostgreSQL, MySQL
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-bar-chart
            %h3
              R with R Studio
            %p
              Used in a recent courses for Big Data and Machine Learning.
              %br
              Course Project:
              %br
              =link_to "Presentation", url: "http://rstudio-pubs-static.s3.amazonaws.com/126794_136b8a1f10cf490dbbc02db91d7437c1.html#/", target:"_blank"
                
              %br
              =link_to "Application", url: "https://bmckibben.shinyapps.io/data_products/", target:"_blank"
                
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-medkit
            %h3
              HL7
            %p
              The standard for transfer of clinical and administrative data between software applications used by healthcare providers.

  / Portfolio Section 
  #works
    #filters
      %button.btn.btn-primary.is-checked{data: {filter: "*"}}
        show all
      %button.btn.btn-primary{data: {filter: ".metal"}}
        metal        
      %button.btn.btn-primary{data: {filter: ".transition"}}
        transition   
      %button.btn.btn-primary{data: {filter: ".alkali"}}
        alkali   

    #grid
      .element-item.transition.metal{data: {category: "transition"}}
        %h3.name 
          Mercury
        %p.symbol 
          Hg
        %p.number 
          80
        %p.weight 
          200.59
      
      .element-item.metalloid{data: {category: "metalloid"}}
        %h3.name 
          Tellurium
        %p.symbol 
          Te
        %p.number 
          52
        %p.weight 
          127.6
      
      .element-item.post-transition.metal{data: {category: "post-transition"}}
        %h3.name 
          Bismuth
        %p.symbol 
          Bi
        %p.number 
          83
        %p.weight 
          208.980
      
      .element-item.post-transition.metal{data: {category: "post-transition"}}
        %h3.name 
          Lead
        %p.symbol 
          Pb
        %p.number 
          82
        %p.weight 
          207.2
      
      .element-item.transition.metal{data: {category: "transition"}}
        %h3.name 
          Gold
        %p.symbol 
          Au
        %p.number 
          79
        %p.weight 
          196.967
      
      .element-item.alkali.metal{data: {category: "alkali"}}
        %h3.name 
          Potassium
        %p.symbol 
          K
        %p.number 
          19
        %p.weight 
          39.0983
      
      .element-item.alkali.metal{data: {category: "alkali"}}
        %h3.name 
          Sodium
        %p.symbol 
          Na
        %p.number 
          11
        %p.weight 
          22.99
      
      .element-item.transition.metal{data: {category: "transition"}}
        %h3.name 
          Cadmium
        %p.symbol 
          Cd
        %p.number 
          48
        %p.weight 
          112.411
      
      .element-item.alkaline-earth.metal{data: {category: "alkaline-earth"}}
        %h3.name 
          Calcium
        %p.symbol 
          Ca
        %p.number 
          20
        %p.weight 
          40.078
      
      .element-item.transition.metal{data: {category: "transition"}}
        %h3.name 
          Rhenium
        %p.symbol 
          Re
        %p.number 
          75
        %p.weight 
          186.207
      
      .element-item.post-transition.metal{data: {category: "post-transition"}}
        %h3.name 
          Thallium
        %p.symbol 
          Tl
        %p.number 
          81
        %p.weight 
          204.383
      
      .element-item.metalloid{data: {category: "metalloid"}}
        %h3.name 
          Antimony
        %p.symbol 
          Sb
        %p.number 
          51
        %p.weight 
          121.76
      
      .element-item.transition.metal{data: {category: "transition"}}
        %h3.name 
          Cobalt
        %p.symbol 
          Co
        %p.number 
          27
        %p.weight 
          58.933
      
      .element-item.lanthanoid.metal.inner-transition{data: {category: "lanthanoid"}}
        %h3.name 
          Ytterbium
        %p.symbol 
          Yb
        %p.number 
          70
        %p.weight 
          173.054
      
      .element-item.noble-gas.nonmetal{data: {category: "noble-gas"}}
        %h3.name 
          Argon
        %p.symbol 
          Ar
        %p.number 
          18
        %p.weight 
          39.948
      
      .element-item.diatomic.nonmetal{data: {category: "diatomic"}}
        %h3.name 
          Nitrogen
        %p.symbol 
          N
        %p.number 
          7
        %p.weight 
          14.007
      
      .element-item.actinoid.metal.inner-transition{data: {category: "actinoid"}}
        %h3.name 
          Uranium
        %p.symbol 
          U
        %p.number 
          92
        %p.weight 
          238.029
      
      .element-item.actinoid.metal.inner-transition{data: {category: "actinoid"}}
        %h3.name 
          Plutonium
        %p.symbol 
          Pu
        %p.number 
          94
        %p.weight 
          (244)

  /Team Section 
  #team.text-center
    .container
      .section-title.center
        %h2
          Meet the team
        %hr
        %p
          Who is responsible for all this?
      .row
        .col-sm-6.col-md-3
          =image_tag("team/01.jpg",  class: "img-thumbnail team-img", alt: "...") 
          .caption
            %h3
              Shokunin
        .col-sm-6.col-md-3
          .thumbnail
            =image_tag("team/02.png",  class: "img-thumbnail team-img", alt: "...")
            .caption
              %h3
                Code Monkey
        .col-sms-6.col-md-3
          .thumbnail
            =image_tag("team/03.jpg",  class: "img-thumbnail team-img", alt: "...")
            .caption
              %h3
                ウルトラマン
        .col-sm-6.col-md-3
          .thumbnail
            =image_tag("team/04.jpg",  class: "img-thumbnail team-img", alt: "...")
            .caption
              %h3
                Role Model
                
  // Testimonials Section 
  #testimonials{class: "parallax-window", data:{parallax: "scroll", image:{src: image_path('43.jpg')}}}
    .container
      .section-title.center.testimonial-well
        %h2
          What people say
      .row
        .col-md-12
          .row.testimonials
            .col-sm-4
              %blockquote.testimonial-well
                %i.fa.fa-quote-left
                %p
                  If we knew what we were doing, it wouldn&apos;t be called research, would it?
                .clients-name
                  %p.bold
                    Albert Einstien
                    %br
                    %em
                      Renowned Physicist
            .col-sm-4
              %blockquote.testimonial-well
                %i.fa.fa-quote-left
                %p
                  We learn something every day, and lots of times it&apos;s that what we learned the day before was wrong.
                .clients-name
                  %p.bold
                    Bill Vaugha
                    %br
                    %em
                      Columnist and Author
            .col-sm-4
              %blockquote.testimonial-well
                %i.fa.fa-quote-left
                %p
                  A man who is afraid to make mistakes is unlikely to make anything.
                .clients-name
                  %p.bold
                    John Cleese
                    %br
                    %em
                      Monty Python                      

  // Contact Section 
  #contact.text-center
    .container
      .section-title.center
        %h2
          Contact us
        %hr
        %p
          Use the form below to send me a message.
      .col-md-8.col-md-offset-2
        .col-md-4
          .contact-item
            %i.fa.fa-map-marker.fa-2x
            %p
              Greenwood, IN 46142
        .col-md-4
          .contact-item
            %i.fa.fa-envelope-o.fa-2x
            %p
              =mail_to("contact@literallight.org")
        .col-md-4
          .contact-item
            %i.fa.fa-phone.fa-2x
            %p
              =link_to("+1 317 409 6295", "tel:3174096295")
        .clearfix
      .col-md-8.col-md-offset-2
        %h3
          Leave us a message
        = simple_form_for :contact, url: home_contact_path, remote: true do |f|
          = f.input :name, required: true
          = f.input :email, required: true
          = f.input :description, as: :text, required: true, label: "Your Message"
          = f.button :submit, 'Submit', class: 'btn btn-primary'        

  #snackbar
  %footer
    = render 'layouts/public_footer'
