.container-fluid.image-page#sections
	.row
		.col-md-1
		.col-md-10
			%h1 Granny
	.row
		.col-md-1
		.col-md-5
			= image_tag("mom/01.jpg", class: "img-responsive" )
		.col-md-5
			= image_tag("mom/02.jpg", class: "img-responsive" )				
	.row
		.col-md-1
		.col-md-5
			= image_tag("mom/03.jpg", class: "img-responsive" )
		.col-md-5
			= image_tag("mom/07.jpg", class: "img-responsive" )									
	.row
		.col-md-1
		.col-md-5
			= image_tag("mom/05.jpg", class: "img-responsive" )
		.col-md-5
			= image_tag("mom/06.jpg", class: "img-responsive" )	
	.row
		.col-md-1
		.col-md-5
			= image_tag("mom/04.jpg", class: "img-responsive" )
		.col-md-5
			= image_tag("mom/08.jpg", class: "img-responsive" )	
	.row
		.col-md-1
		.col-md-5
			= image_tag("mom/09.jpg", class: "img-responsive" )
		.col-md-5
			= image_tag("mom/10.jpg", class: "img-responsive" )
	.row
		.col-md-1
		.col-md-5
			= image_tag("mom/11.jpg", class: "img-responsive" )
		.col-md-5
			= image_tag("mom/12.jpg", class: "img-responsive" )					