= simple_form_for(@section) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-9
        = f.input :title 
      .col-xs-3
        = "Word Count #{@section.body.gsub(/<[^>]*>/ui,'').split.size}"
    .row
      .col-md-9.editor  
        = f.label :summary 
        = f.input :summary
        = f.input :body, class: "section-body", label: false
      .col-md-3.attributes
        = f.label :story_id
        = f.input :story_id, collection: Story.all
        = f.label :sequence    
        = f.input :sequence
        = f.label :throughline
        = f.input :throughline, as: :select, collection: ["Main","Impact", "Objective", "Relationship"], include_blank: true, allow_blank: true      
        .card
          .card-body
            = f.label :resolution 
            = f.input :resolution, label: true
        .card
          .card-body  
            = f.label :conflict   
            = f.input :conflict, label: "Conflict"
        .card.section-notes
          .card-title
            
          %ul.list-group.list-group-flush        
            - @section.section_notes.each do |note|
              %li.list-group-item
                =note.note
          =link_to "Add Note", edit_note_modal_path(section_id: @section.id), remote: true, class: "btn btn-primary"
    .row   
      .col-md-9.footnotes
        - @section.section_footnotes.each do |footnote|
          %sup
            =footnote.a_number 
          =footnote.footnote
          %br
      .col-md-3
        .form-actions.control-panel
          = f.button :submit, "Save", class: "btn btn-primary"  
          =link_to "Footnotes", edit_footnote_modal_path(section_id: @section.id), remote: true, class: "btn btn-primary"
          
          =link_to "Chapters", sections_path(story_id: @section.story_id), class: "btn btn-primary"         



:javascript
  $( document ).ready(function() {
    $("#open-modal").click(function(){
      $("#edit_footnote_modal_box").modal("show")
    })

    tinyMCE.init({
      selector: '#section_body',
      height: 500,
      menubar: "",
      plugins: "image link charmap advlist fullscreen code",
      toolbar: "fullscreen | undo redo | styleselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist outdent indent | removeformat | image | link | charmap | code | help",
      content_css: "#{ asset_path('application.css')}"
    });

  })


