.container-fluid#sections
  .row
    .col-md-2
    .col-md-8.col-sm-12
      .card
        = render 'form'

.modal.fade{ role: "dialog", id: "edit_note_modal_box" }
  .modal-dialog
    .modal-content
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: :button, class: "btn-dialog-close" }
        &times;
      .modal-header
        %h4.name-box-title 
          = "Modal Header"
      .modal-body
        = "Modal Body"

.modal.fade{ role: "dialog", id: "edit_footnote_modal_box" }
  .modal-dialog
    .modal-content
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: :button, class: "btn-dialog-close" }
        &times;
      .modal-header
        %h4.name-box-title 
          = "Modal Header"
      .modal-body
        = "Modal Body"
