.container-fluid#sections
  .row
    .col-md-2
    .col-md-8.col-sm-12.card
      %p#notice= notice

      %p
        %b Title:
        = @section.title
      %p
        %b Sequence:
        = @section.sequence
      %p
        %b Summary:
        = @section.summary
      %p
        %b Body:
        .section_show_body
          = @section.body
      %p
        %b Throughline:
        = @section.throughline
      %p
        %b Resolution:
        = @section.resolution
      %p
        %b Conflict:
        = @section.conflict

      = link_to 'Edit', edit_section_path(@section)
      \|
      = link_to 'Back', sections_path
