.container-fluid#stories
  .row
    .col-md-2
    .col-md-8.card
      %h1 Chapter Summaries
      - @chapters.each do |chapter|
        .panel
          .panel-head
            %h2
              = chapter.title
          .panel-body
            .row
              .col-md-6
                = "Updated: #{chapter.updated_at.strftime("")}"
              .col-md-6
                = "Word Count: #{chapter.word_count}"
            .row
              .col-md-12
                %p
                  = chapter.summary





