.container-fluid#histories
  .row
    .col-md-3
    .col-md-6.col-sm-12
      .card
        %p#notice= notice

        %table
          %tr
            %th
              
            %th
              Actual
            %th
              Predicted
              %br
              Weight
          %tr
            %td
              Date:
            %td
              = @history.date.strftime("%d-%b-%Y")   
            %td
          %tr
            %td
              Ball 1
            %td
              = @history.ball_1     
            %td
              = @history.predicted_1
          %tr
            %td
              Ball 2
            %td
              = @history.ball_2     
            %td
              = @history.predicted_2
          %tr
            %td
              Ball 3
            %td
              = @history.ball_3     
            %td
              = @history.predicted_3
          %tr
            %td
              Ball 4
            %td
              = @history.ball_4     
            %td
              = @history.predicted_4
          %tr
            %td
              Ball 5
            %td
              = @history.ball_5     
            %td
              = @history.predicted_5
          %tr
            %td
              Powerball
            %td
              = @history.powerball    
            %td
              = @history.predicted_powerball

        = link_to 'Edit', edit_history_path(@history), class: "btn btn-primary"
        = " "
        = link_to 'Back', histories_path, class: "btn btn-primary"
