.container-fluid#stories
  .row
    .col-md-2
    .col-md-8.card
      %h1 Stories

      %table.index-table
        %thead
          %tr
            %th Title
            %th Summary
            %th Wordcount
            %th
            %th

        %tbody
          - @stories.each do |story|
            %tr
              %td= story.title
              %td= story.short_summary
              %td= story.word_count
              %td= link_to 'Show', sections_path(story_id: story.id)
              %td= link_to 'Print', story_manuscript_path(story_id: story.id)



