#title-page
  .this-page
    .author
      %table
        %tr
          %td
            = "Ben McKibben"
            %br
            = "Greenwood, Indiana"
            %br
            = "317.409.6295"          
            %br
            = "mckibben@att.net"
          %td.right
            = "Copyright 2020, All Rights Reserved" 
            %br
            = "Word Count: #{@story.wordcount}"
    .title
      %h1
        = @story.title
      %h2
        = "Ben McKibben"
    .tagline
      = "A child abducted by extraterrestrials grows up and returns to Earth as a missionary for an alien religion."             
#manuscript
  %h1 
    ="Copyright © 2020 by Ben McKibben"
  %p
    ="All rights reserved. This book or any portion thereof may not be reproduced or used in any manner whatsoever without the express written permission of the author except for the use of brief quotations in a book review."
  %p
    ="The characters in this book are entirely fictional. Any resemblance to actual persons living or dead is entirely coincidental. The opinions expressed are those of the characters and should not be confused with the author’s opinions."  

  -@sections.each do |page| 
    %h1
      ="Chapter #{page.sequence.to_s}"
    .section-body  
      =page.body.to_s.html_safe
    .section-footnote
      - page.section_footnotes.each do |footnote|
        %sup
          =footnote.a_number 
        =footnote.footnote
        %br  
