-# frozen_string_literal: true
= simple_form_for(@ac_sub_category) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :budget
    = f.association :ac_category, label: "Category"

  .form-actions
    = f.button :submit, "Save", class: "btn btn-primary"
    = link_to "Cancel", ac_sub_categories_path, class: "btn btn-danger"
