.panel-heading
  .row
    .col-md-9.wiki-tags
      %p.wiki-title= @wiki.title
      %p.wiki-tags
        - @wiki.wiki_tags.each do |wiki_tag|
          - if !wiki_tag.tag.nil?
            %a.btn.btn-tag{"data-tag-id" => "#{wiki_tag.tag_id}", "data-this-id" => "#{@wiki.id}", href: "javascript:void(0)"}= wiki_tag.tag.title
    .col-md-3.wiki-actions.right
      %i.fas.fa-plus.action-icon.wiki-here{"aria-hidden" => "false", "data-id" => "#{@wiki.id}", "data-parent" => "#{@wiki.title}", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Create a child wiki."}
      %i.fas.fa-pencil-alt.action-icon.wiki-edit{"aria-hidden" => "false", "data-id" => "#{@wiki.id}", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Edit this wiki."}
      %i.far.fa-times-circle.action-icon.wiki-remove{"aria-hidden" => "false", "data-id" => "#{@wiki.id}", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Remove this wiki from the page."}
.panel-body
  .row
    .col-md-12.wiki-body
      - if @wiki.body.include? "{{TOC}}"
        - @wiki.body["{{TOC}}"] = nested_set(query_toc(@wiki.id),'wiki-menu', @wiki.id)
      = @wiki.body.html_safe
.panel-footer
  .row
    .col-md-12.wiki-attributes
      Author: #{@wiki.user.login if !@wiki.user.nil?} (version: #{@wiki.version} #{"deleted" if @wiki.deleted?}) | ID: #{@wiki.id} |
      Created:  #{@wiki.created_at.strftime("%Y-%m-%d %R")} | Updated: #{@wiki.updated_at.strftime("%Y-%m-%d %R")}
      %br/