.row
  .col-xs-12
    %h1 New Wiki
    = simple_form_for(@wiki) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .form-inputs
        = f.input :title
        = f.input :tags, input_html: {value: "Journal"} 
        = f.input :body

      .form-actions
        = f.button :submit      