.panel.panel-default.time_lord
      .panel-body
        = simple_form_for(@task_time, remote: true, html: {id: 'timer'}) do |t|      
          .row
            .col-md-2
              = link_to timer_index_path, class: 'navbar-brand text-bold' do
                %i.fa-regular.fa-clock
                ProjTime
            - if signed_in?        
              .col-md-4
                = t.input :start_at, as: :hidden
                = t.input :end_at, as: :hidden
                = t.input :description, placeholder: 'What are you doing', label: false
              .col-md-3
                = form.select :task_id, grouped_tasks_options(@task_time)  
              .col-md-2{id: 'elapsed_time'}
                = "00:00:00"
              .col-md-1
                %i.fa-regular.fa-circle-play{id: "btn_start"}
                %i.fa-regular.fa-circle-stop.hidden{id: "btn_end"}

:javascript
  $(document).ready(function () {
    var i = 0;
    $('#btn_start').on('click', function() {
      var currentTime = new Date();
      $('#task_time_start_at').val(currentTime);
      $(this).toggle();
      $('#btn_end').toggle();
      $('#timer').submit();
      elapsed_time = setInterval(function () {
          $("#elapsed_time").html(secondsToHms(i));
          i++;
      }, 1000);      
    })
    
    $('#btn_end').on('click', function() {
    var currentTime = new Date();
    $('#task_time_end_at').val(currentTime);
      $(this).toggle();
      $('#btn_start').toggle();
      $('#timer').submit();
      clearInterval(elapsed_time);
    })  
    
    function secondsToHms(d) {
        d = Number(d);
        var h = Math.floor(d / 3600);
        var m = Math.floor(d % 3600 / 60);
        var s = Math.floor(d % 3600 % 60);

        return pad(h, 2) +':'+ pad(m,2) + ':'+ pad(s,2); 
    }    
    
    function pad (str, max) {
      str = str.toString();
      return str.length < max ? pad("0" + str, max) : str;
    }    
    
  })   
