!!!
%html
  %head
    %title "LiteralLignt"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.gradient-main
    #page-container
      = render 'layouts/public_navigation'
      .main
        = yield
      %footer
        = render 'layouts/public_footer'
